#blurer{
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    backdrop-filter: blur(2px);
}



#Note-Pop-up {
    background-color: #cec8b9;
    z-index: 100 ;
    position: fixed;
    top: 25%;
    left: 25vw;
    min-height: 60vh;
    width: 50vw;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.noteContent{
    text-wrap: wrap;
}

.note{
    display: inline-block;
    border: 1px solid black;
}