.register-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.register-container form{
    width: 50vw;
    /* height: 50vh; */
    /* border: 5px solid black; */
    padding: 2vw;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-group{
    margin: 2vh 0;
}

@media only screen and (max-width: 750px) {
    .register-container form {
        width: 100vw;
        padding: 4vw;
        box-shadow: none;
    }

    .btn-primary{
        width: 100%;
    }
  }
